<table class="table" *ngIf="cursos$; else loading">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Curso</th>
        <th scope="col">
            <button class="btn btn-primary" [routerLink]="['novo']">Novo Curso</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let curso of cursos$">
        <th scope="row">{{curso.id}}</th>
        <td>{{curso.nome}}</td>
        <button style="margin-right: 10px;" class="btn btn-outline-warning " [routerLink]="['./editar', curso.id]">Atualizar</button>
        <button class="btn  btn-outline-danger ">Excluir</button>
      </tr>
    </tbody>
  </table>
  <ng-template #loading>
    carregando cursos...
  </ng-template>