<!-- <app-ng-if></app-ng-if> -->
<!-- <app-ng-switch-case></app-ng-switch-case>  -->
<!-- <app-ng-for></app-ng-for> -->
<!-- <app-ng-class></app-ng-class> -->
<!-- <app-ng-style></app-ng-style> -->
<!-- <app-operador-elvis></app-operador-elvis> -->

<!-- <app-ng-content>
    passando para o ng-content
    <h4 class="titulo">Título do segundo painel Utilizando SELETORES</h4>
    <p class="corpo">Texto do segundo painel com o ng-content</p>
</app-ng-content> -->

<app-diretivas-customizadas></app-diretivas-customizadas>
