<nav>
    <a routerLink="">
        <h2>LOGO</h2>
    </a>
    <div>
        <a routerLinkActive="active" routerLink="/login">Login</a>
        <a routerLinkActive="active" routerLink="/cursos" [queryParams]="{pagina:1}">Cursos</a>
        <!-- <a routerLinkActive="active" [routerLink]="['curso', idcurso.value]">Cursos com ID</a> -->
        <a routerLinkActive="active" routerLink="/alunos">Alunos</a>
    </div>
</nav>

<div>
    <!-- <p>Entre com ID do curso</p> -->
    <br>
    <!-- <input #idcurso> -->
    <router-outlet></router-outlet>
</div>